@{
    ViewData["Title"] = "PROGRAMAS DESCARGABLES";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<div style="text-align:center;">
<table style="width:100%">
  <tr>
    <th style="text-align:center">Autocad</th>
    <th style="text-align:center">AVG Antivirus 2018</th> 
    <th style="text-align:center">NOD32 Antivirus</th>
    <th style="text-align:center">Windows 10 Pro</th>
  </tr>
  <tr>
    <td><img src="~/images/autocad.jpg" width="100" height="100"></td>
    <td><img src="~/images/avg.jpg" width="100" height="100"></td> 
    <td><img src="~/images/nod32.jpg" width="100" height="100"></td>
    <td><img src="~/images/win10pro.jpg" width="100" height="100"></td>
  </tr>
  <tr>
    <td>Precio:s/45.00</td>
    <td>Precio:s/50.00</td> 
    <td>Precio:s/20.00</td>
    <td>Precio:s/35.00</td>
  </tr>
  <tr>
    <td>Licencia de 1 años</td>
    <td>Licencia de 2 año</td> 
    <td>Licencia de 6 meses</td>
    <td>Licencia de 1 año</td>
  </tr>
  <tr>
    <td><button type="button">Comprar</button></td>
    <td><button type="button">Comprar</button></td> 
    <td><button type="button">Comprar</button></td>
    <td><button type="button">Comprar</button></td>
  </tr>
</table>
</div>

<div style="text-align:center;">
<table style="width:100%">
  <tr>
    <th style="text-align:center">Autocad</th>
    <th style="text-align:center">AVG Antivirus 2018</th> 
    <th style="text-align:center">NOD32 Antivirus</th>
    <th style="text-align:center">Windows 10 Pro</th>
  </tr>
  <tr>
    <td><img src="~/images/autocad.jpg" width="100" height="100"></td>
    <td><img src="~/images/avg.jpg" width="100" height="100"></td> 
    <td><img src="~/images/nod32.jpg" width="100" height="100"></td>
    <td><img src="~/images/win10pro.jpg" width="100" height="100"></td>
  </tr>
  <tr>
    <td>Precio:s/45.00</td>
    <td>Precio:s/50.00</td> 
    <td>Precio:s/20.00</td>
    <td>Precio:s/35.00</td>
  </tr>
  <tr>
    <td>Licencia de 1 años</td>
    <td>Licencia de 2 año</td> 
    <td>Licencia de 6 meses</td>
    <td>Licencia de 1 año</td>
  </tr>
  <tr>
    <td><button type="button">Comprar</button></td>
    <td><button type="button">Comprar</button></td> 
    <td><button type="button">Comprar</button></td>
    <td><button type="button">Comprar</button></td>
  </tr>
</table>
</div>
<address>
    <strong>Support:</strong> <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>